node_modules
dist
*.log

template/base/node_modules
template/base/dist
template/base/dist-ssr
template/base/coverage
template/base/*.local
template/base/__temp/**
template/base/stats.html
template/base/components.d.ts
template/base/auto-imports.d.ts
template/base/.eslintrc-auto-import.json
template/base/tsconfig.app.tsbuildinfo
template/base/tsconfig.node.tsbuildinfo
template/base/vite.config.ts.timestamp-*.mjs
template/base/.env.sentry-build-plugin

playground/*
!playground/.gitignore

.playwright-cli
