@import './tailwind.css';
@import './base.css';
@import './plugin/progress.css';
@import './plugin/piece.css';
@import './plugin/vant.css';
@import './plugin/sonner.css';
@import './plugin/popup.css';
@import './transition.css';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* word-break: break-all; */
  word-wrap: break-word;
  white-space: pre-line;
  line-height: 1.5;
  font-size: calc(var(--base-scale, 1) * 28 * 1px);
}

input,
select,
textarea {
  appearance: none;
  user-select: text;
  background: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  min-width: 0;
}

input:focus {
  appearance: none;
  background: none;
  border: none;
}

input,
textarea {
  caret-color: currentColor;
}

input::placeholder,
select[content=''] {
  color: currentColor;
  opacity: 0.4;
}

.cover #app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.scroll-box {
  width: 100%;
  height: 100%;
  /* overscroll-behavior: none; */
}

.cover .scroll-box {
  width: 100%;
  height: 100%;
  min-height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  width: 100%;
  min-height: 100%;
  min-height: max(100vh, 1400px);
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 0;

  /* overscroll-behavior: none; */
}

/* @font-face {
  font-family: f-yuan;
  src:
    url('https://oss.eventnet.cn/H5/zz/font/fangyuan/AlimamaFangYuanTiVF-Thin.woff2') format('woff2'),
    url('https://oss.eventnet.cn/H5/zz/font/fangyuan/AlimamaFangYuanTiVF-Thin.woff') format('woff'),
    url('https://oss.eventnet.cn/H5/zz/font/fangyuan/AlimamaFangYuanTiVF-Thin.ttf') format('truetype');
  font-display: swap;
}

*,
input {
  font-family:
    f-yuan,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
} */
