.none-enter-active,
.none-leave-active {
  transition: opacity 0s ease;
}

.none-enter-from,
.none-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.26s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.36s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(120px);
}

.list-leave-active {
  position: absolute;
}
