@theme {
  --base-scale: 1;

  --spacing: 1px;

  --radius-full: 9999px;
}

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-red: #e7000b;
  --color-orange: #f54900;
  --color-amber: #e17100;
  --color-yellow: #d08700;
  --color-lime: #5ea500;
  --color-green: #00a63e;
  --color-emerald: #007a55;
  --color-teal: #009689;
  --color-cyan: #0092b8;
  --color-sky: #0084d1;
  --color-blue: #155dfb;
  --color-indigo: #4f39f6;
  --color-violet: #7f22fe;
  --color-purple: #9810fa;
  --color-fuchsia: #c800de;
  --color-pink: #e60076;
  --color-rose: #e60076;
  --color-slate: #45556c;
  --color-gray: #4a5565;
  --color-zinc: #52525c;
  --color-neutral: #525252;
  --color-stone: #57534d;

  --color-placeholder: #a3a9b5;
}

@utility center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility text-last-center {
  text-align-last: center;
}

@utility text-last-justify {
  text-align-last: justify;
}

@utility callout-default {
  -webkit-touch-callout: default;
}

@utility callout-none {
  -webkit-touch-callout: none;
}

@utility shark-wrap {
  overflow: hidden;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    inset: -20%;
    background: linear-gradient(45deg, #ffffff00 40%, #ffffffb3, #ffffff00 60%);
    animation: shark-wrap var(--time, 2s) infinite paused;
    transform: translateX(-100%);
    pointer-events: none;
  }
}

@utility shark-wrap-play {
  &::after {
    animation-play-state: running !important;
  }
}

@utility shark-text-* {
  color: transparent;
  background: linear-gradient(45deg, #ffffff00 30%, #ffffffe6, #ffffff00 70%) -100% / 50% no-repeat --value([*]);
  background-clip: text;
  animation: shark-text var(--time, 2s) infinite paused;
}

@utility shark-text-play {
  animation-play-state: running !important;
}

@utility shark-text {
  background-clip: unset;
}

@utility time-* {
  --time: --value([*]);
}

@utility time {
  --time: 2s;
}

@utility back-top {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
}

@utility back-bottom {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

@utility back-full {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@utility loquat {
  mask-image: linear-gradient(to right, black 0% 40%, transparent 50% 100%);
  mask-size: 250% 100%;
  /* mask-position: 90% 50%; */
}

@utility shadow-stroke {
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

@theme {
  --animate-spin-slow: spin 4s linear infinite;
  --animate-heart-beat: heart-beat 1.5s 0.3s ease-in-out infinite;
  --animate-handle: handle 1s ease infinite;
  --animate-next-page: next-page 0.9s ease infinite alternate;
  --animate-rotate-cube: rotate-cube 5s infinite linear;
  --animate-flash: flash 1s infinite;
  --animate-tada: tada 2s ease infinite;
  --animate-fruit-swing: fruit-swing 2s ease-in-out infinite;
}

@keyframes handle {
  0%,
  30%,
  100% {
    transform: scale(1);
  }
  15% {
    transform: scale(0.96);
  }
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.12);
  }

  28% {
    transform: scale(0.96);
  }

  42% {
    transform: scale(1.12);
  }

  70% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
@keyframes next-page {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(60%);
  }
}

@keyframes rotate-cube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes shark-wrap {
  100% {
    transform: translateX(100%);
  }
}

@keyframes shark-text {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 200%;
  }
}

@keyframes flash {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fruit-swing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-12deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(6deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  70% {
    transform: rotate(2deg);
  }
  80%,
  100% {
    transform: rotate(0deg);
  }
}
