html.cover,
.cover body {
  position: relative;
  /* width: 750px; */
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#app {
  font-size: calc(var(--base-scale, 1) * 28 * 1px);
}

.cover #app {
  position: relative;
  width: 100%;
  height: var(--app-height, 100%);
  overflow-x: hidden;
  overflow-y: hidden;
}

.scroll-box {
  width: 100%;
  height: var(--app-height, 100%);
  /* overscroll-behavior: none; */
}

.cover .scroll-box {
  width: 100%;
  height: var(--app-height, 100%);
  min-height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  width: 100%;
  min-height: var(--app-height, 100vh);
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 0;
  overflow: hidden;

  /* overscroll-behavior: none; */
}

html.cover .browser-scan {
  --browser-scan-scale: 1;
}
