@import 'tailwindcss/theme.css';
@import 'tailwindcss/preflight.css';
@import 'tailwindcss/utilities.css';
@import 'tw-animate-css';

@import './size.css';
@import './theme.css';

@utility text-* {
  font-size: calc(--value(integer) * 1px);
}

@utility rounded-* {
  border-radius: calc(--value(integer) * 1px);
}

@utility tracking-* {
  letter-spacing: calc(--value(integer) * 1px);
}
