.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.36s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(120px);
}

.list-leave-active {
  position: absolute;
}

.scale-enter-active,
.scale-leave-active {
  transition:
    opacity 0.26s ease,
    transform 0.26s ease;
  position: absolute;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.5);
}
