.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.36s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(120px);
}

.list-leave-active {
  position: absolute;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.26s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.scale-enter-active {
  transition:
    opacity 0.28s cubic-bezier(0.18, 0.9, 0.3, 1.2),
    transform 0.3s cubic-bezier(0.18, 0.9, 0.3, 1.2);
  position: absolute;
}

.scale-enter-from {
  opacity: 0;
  transform: scale(0.2);
}

.scale-leave-active {
  transition:
    opacity 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045),
    transform 0.26s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  position: absolute;
}

.scale-leave-to {
  opacity: 0;
  transform: scale(0.2);
}
