name: Push to Gitea with Token

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Push to Gitea
        run: |
          git remote add gitea "${{ secrets.GITEA_TOKEN_URL }}"
          git push -f gitea main
