name: Sync to GitLab

on:
  push:
    branches:
      - '*'

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Push to GitLab
        run: |
          git config --global user.email "${{ secrets.GITLAB_GIT_EMAIL }}"
          git config --global user.name "${{ secrets.GITLAB_GIT_NAME }}"

          git remote add gitlab https://oauth2:${{ secrets.GITLAB_TOKEN }}@gitlab.com/yulin96-group/base_vite_vue3.git
          git push gitlab --all --force
          git push gitlab --tags --force
