name: Sync to GitLab

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub code
        uses: actions/checkout@v3

      - name: Push to GitLab
        run: |
          git config --global user.email "bot@example.com"
          git config --global user.name "GitHub Action Bot"

          git remote add gitlab https://oauth2:${{ secrets.GITLAB_TOKEN }}@gitlab.com/yulin96-group/base_vite_vue3.git
          git push gitlab main --force
